![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

In [92]:
#Escribe el título del proyecto en Markdown
titulo = "Análisis de los patrones de uso de Bikeshare"

### TEMA

# Describe brevemente el tema del proyecto en Markdown
tema = Este proyecto consiste en un análisis general sobre los patrones de uso de Bikeshare, una empresa de bicicletas compartidas en Washington.

Se tratarán de identificar los patrones de uso de las biciletas, las rutas más populares, horas pico y valle y duración media de los viajes, y estudiar como los aspectos climáticos pueden afectar a estos patrones de uso, distinguiendo entre tipos de usuario y tipo de bicicleta alquilada.

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

- Influencia de distintas variables climáticas (lluvia, viento, temperatura, etc) en el número de usuarios y distancia de las rutas
- Cambios de tendencia dependiendo de la época del año

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [93]:
import pandas as pd
from datetime import datetime
# guarda en variables los datasets y su fuente

Fuente = 'Kaggle'
# df_daily_rents = pd.read_csv('./Bikeshare/daily_rent_detail.csv')
df_station_list = pd.read_csv('./Bikeshare/station_list.csv')
df_usage_freq = pd.read_csv('./Bikeshare/usage_frequency.csv')
df_weather = pd.read_csv('./Bikeshare/weather.csv')

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [94]:
# Primer dataset
df_daily_rents.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,946D42AD89539210,docked_bike,2020-05-31 18:25:22,2020-05-31 18:25:22,Anacostia Library,31804,11th & H St NE,31614.0,38.865784,-76.978400,38.899983,-76.991383,casual
1,CC46FAAB662B8613,docked_bike,2020-05-09 15:06:33,2020-05-09 15:06:33,10th & E St NW,31256,21st St & Constitution Ave NW,31261.0,38.895914,-77.026064,38.892459,-77.046567,member
2,72F00B2FB833D6ED,docked_bike,2020-05-24 17:43:51,2020-05-24 17:43:51,Connecticut Ave & Newark St NW / Cleveland Park,31305,12th & U St NW,31268.0,38.934267,-77.057979,38.916787,-77.028139,member
3,4DFBE6AED989DF35,docked_bike,2020-05-27 15:47:13,2020-05-27 15:47:13,Connecticut Ave & Newark St NW / Cleveland Park,31305,14th & Belmont St NW,31119.0,38.934267,-77.057979,38.921074,-77.031887,casual
4,1AAFE6B4331AB9DF,docked_bike,2020-05-31 14:30:30,2020-05-31 14:30:30,Georgia Ave & Morton St NW,31419,17th & K St NW,31213.0,38.932128,-77.023500,38.902760,-77.038630,casual

In [95]:
df_daily_rents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16086672 entries, 0 to 16086671
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 1.6+ GB

In [96]:
# Segundo dataset
df_station_list.head()

   station_id                  station_name
0       30200  9th St & Pennsylvania Ave NW
1       30201                 9th & G St NW
2       31000           Eads St & 15th St S
3       31001           18th St & S Eads St
4       31002        Crystal Dr & 20th St S

In [97]:
df_station_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 916 entries, 0 to 915
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   station_id    916 non-null    int64
 1   station_name  916 non-null    object
dtypes: int64(1), object(1)
memory usage: 14.4+ KB

In [98]:
# Tercer dataset
df_usage_freq.head()

         date           station_name  pickup_counts  dropoff_counts
0  2020-05-01         10th & E St NW             11             7.0
1  2020-05-01  10th & Florida Ave NW              8             8.0
2  2020-05-01         10th & G St NW              3             2.0
3  2020-05-01         10th & K St NW             12            15.0
4  2020-05-01    10th & Monroe St NE              5             6.0

In [99]:
df_usage_freq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 873318 entries, 0 to 873317
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            873318 non-null  object
 1   station_name    873318 non-null  object
 2   pickup_counts   873318 non-null  int64
 3   dropoff_counts  873318 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 26.7+ MB

In [100]:
print( df_usage_freq.min())
print( df_usage_freq.max())

date                           2020-05-01
station_name       S Scott St & 13th St S
pickup_counts                           1
dropoff_counts                        0.0
dtype: object
date                              2024-08-31
station_name      Yuma St & Tenley Circle NW
pickup_counts                            444
dropoff_counts                         460.0
dtype: object

In [101]:
df_usage_freq['date'] = pd.to_datetime(df_usage_freq['date'])
df_usage_freq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 873318 entries, 0 to 873317
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            873318 non-null  datetime64[ns]
 1   station_name    873318 non-null  object
 2   pickup_counts   873318 non-null  int64
 3   dropoff_counts  873318 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 26.7+ MB

In [102]:
df_usage_freq.set_index('date', inplace = True)
df_usage_freq_2023 = df_usage_freq.loc['2023']

In [103]:
df_usage_freq_2023.index.unique()               # Comprobamos que hay datos para todos los días de 2023

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2023-12-22', '2023-12-23', '2023-12-24', '2023-12-25',
               '2023-12-26', '2023-12-27', '2023-12-28', '2023-12-29',
               '2023-12-30', '2023-12-31'],
              dtype='datetime64[ns]', name='date', length=365, freq=None)

In [104]:
df_usage_freq_2023.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 219469 entries, 2023-01-01 to 2023-12-31
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   station_name    219469 non-null  object
 1   pickup_counts   219469 non-null  int64
 2   dropoff_counts  219469 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 14.8+ MB

In [105]:
# Cuarto dataset
df_weather.head()

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,"Washington,DC,USA",2020-05-01,18.8,11.6,14.9,18.8,11.6,14.9,8.9,69.6,...,9.5,6,NaN,2020-05-01T06:09:41,2020-05-01T20:01:16,0.30,"Rain, Partially cloudy",Partly cloudy throughout the day with rain cle...,rain,"KDCA,72405013743,72403793728,F0198,KADW,KDAA,7..."
1,"Washington,DC,USA",2020-05-02,22.1,11.1,16.3,22.1,11.1,16.3,6.4,54.0,...,14.0,9,NaN,2020-05-02T06:08:30,2020-05-02T20:02:13,0.33,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"KDCA,72405013743,72403793728,F0198,KGAI,KADW,K..."
2,"Washington,DC,USA",2020-05-03,24.9,15.6,18.6,24.9,15.6,18.6,13.4,72.5,...,5.7,4,NaN,2020-05-03T06:07:21,2020-05-03T20:03:11,0.37,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"KDCA,72405013743,72403793728,F0198,KADW,KDAA,7..."
3,"Washington,DC,USA",2020-05-04,23.8,14.3,19.2,23.8,14.3,19.2,7.8,53.8,...,13.3,8,NaN,2020-05-04T06:06:12,2020-05-04T20:04:08,0.40,"Rain, Partially cloudy",Clearing in the afternoon with early morning r...,rain,"KDCA,72405013743,72403793728,F0198,KADW,KDAA,7..."
4,"Washington,DC,USA",2020-05-05,14.3,9.3,12.3,14.3,8.0,12.1,3.3,55.6,...,5.0,2,NaN,2020-05-05T06:05:06,2020-05-05T20:05:05,0.44,"Rain, Partially cloudy",Partly cloudy throughout the day with late aft...,rain,"KIAD,KDCA,72405013743,72403793728,72403093738,..."

In [106]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1584 entries, 0 to 1583
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              1584 non-null   object
 1   datetime          1584 non-null   object
 2   tempmax           1584 non-null   float64
 3   tempmin           1584 non-null   float64
 4   temp              1584 non-null   float64
 5   feelslikemax      1584 non-null   float64
 6   feelslikemin      1584 non-null   float64
 7   feelslike         1584 non-null   float64
 8   dew               1584 non-null   float64
 9   humidity          1584 non-null   float64
 10  precip            1584 non-null   float64
 11  precipprob        1584 non-null   int64
 12  precipcover       1584 non-null   float64
 13  preciptype        757 non-null    object
 14  snow              1584 non-null   float64
 15  snowdepth         1584 non-null   float64
 16  windgust          1584 non-null   float64
 17  windspeed         1584 non-null   float64
 18  winddir           1584 non-null   float64
 19  sealevelpressure  1584 non-null   float64
 20  cloudcover        1584 non-null   float64
 21  visibility        1584 non-null   float64
 22  solarradiation    1584 non-null   float64
 23  solarenergy       1584 non-null   float64
 24  uvindex           1584 non-null   int64
 25  severerisk        965 non-null    float64
 26  sunrise           1584 non-null   object
 27  sunset            1584 non-null   object
 28  moonphase         1584 non-null   float64
 29  conditions        1584 non-null   object
 30  description       1584 non-null   object
 31  icon              1584 non-null   object
 32  stations          1584 non-null   object
dtypes: float64(22), int64(2), object(9)
memory usage: 408.5+ KB

In [107]:
df_weather['datetime'] =  pd.to_datetime(df_weather['datetime'])
df_weather.set_index('datetime', inplace = True)
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1584 entries, 2020-05-01 to 2024-08-31
Data columns (total 32 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              1584 non-null   object
 1   tempmax           1584 non-null   float64
 2   tempmin           1584 non-null   float64
 3   temp              1584 non-null   float64
 4   feelslikemax      1584 non-null   float64
 5   feelslikemin      1584 non-null   float64
 6   feelslike         1584 non-null   float64
 7   dew               1584 non-null   float64
 8   humidity          1584 non-null   float64
 9   precip            1584 non-null   float64
 10  precipprob        1584 non-null   int64
 11  precipcover       1584 non-null   float64
 12  preciptype        757 non-null    object
 13  snow              1584 non-null   float64
 14  snowdepth         1584 non-null   float64
 15  windgust          1584 non-null   float64
 16  windspeed         1584 non-null   float64
 17  winddir           1584 non-null   float64
 18  sealevelpressure  1584 non-null   float64
 19  cloudcover        1584 non-null   float64
 20  visibility        1584 non-null   float64
 21  solarradiation    1584 non-null   float64
 22  solarenergy       1584 non-null   float64
 23  uvindex           1584 non-null   int64
 24  severerisk        965 non-null    float64
 25  sunrise           1584 non-null   object
 26  sunset            1584 non-null   object
 27  moonphase         1584 non-null   float64
 28  conditions        1584 non-null   object
 29  description       1584 non-null   object
 30  icon              1584 non-null   object
 31  stations          1584 non-null   object
dtypes: float64(22), int64(2), object(8)
memory usage: 408.4+ KB

In [108]:
df_weather_2023 = df_weather.loc['2023']
df_weather_2023.index.unique()                  # Comprobamos que hay datos de tiempo para los 365 dias de 2023

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2023-12-22', '2023-12-23', '2023-12-24', '2023-12-25',
               '2023-12-26', '2023-12-27', '2023-12-28', '2023-12-29',
               '2023-12-30', '2023-12-31'],
              dtype='datetime64[ns]', name='datetime', length=365, freq=None)

In [109]:
df_weather_2023.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 365 entries, 2023-01-01 to 2023-12-31
Data columns (total 32 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              365 non-null    object
 1   tempmax           365 non-null    float64
 2   tempmin           365 non-null    float64
 3   temp              365 non-null    float64
 4   feelslikemax      365 non-null    float64
 5   feelslikemin      365 non-null    float64
 6   feelslike         365 non-null    float64
 7   dew               365 non-null    float64
 8   humidity          365 non-null    float64
 9   precip            365 non-null    float64
 10  precipprob        365 non-null    int64
 11  precipcover       365 non-null    float64
 12  preciptype        179 non-null    object
 13  snow              365 non-null    float64
 14  snowdepth         365 non-null    float64
 15  windgust          365 non-null    float64
 16  windspeed         365 non-null    float64
 17  winddir           365 non-null    float64
 18  sealevelpressure  365 non-null    float64
 19  cloudcover        365 non-null    float64
 20  visibility        365 non-null    float64
 21  solarradiation    365 non-null    float64
 22  solarenergy       365 non-null    float64
 23  uvindex           365 non-null    int64
 24  severerisk        365 non-null    float64
 25  sunrise           365 non-null    object
 26  sunset            365 non-null    object
 27  moonphase         365 non-null    float64
 28  conditions        365 non-null    object
 29  description       365 non-null    object
 30  icon              365 non-null    object
 31  stations          365 non-null    object
dtypes: float64(22), int64(2), object(8)
memory usage: 94.1+ KB

In [115]:
df_daily_rents = pd.read_csv('./Bikeshare/daily_rent_detail_completo.csv')

/var/folders/7j/lfytp_zn1p3gd9v7k7jvgk340000gn/T/ipykernel_51166/462725113.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_daily_rents = pd.read_csv('./Bikeshare/daily_rent_detail_completo.csv')

In [116]:
df_daily_rents.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,946D42AD89539210,docked_bike,2020-05-30 17:25:29,2020-05-31 18:25:22,Anacostia Library,31804,11th & H St NE,31614.0,38.865784,-76.978400,38.899983,-76.991383,casual
1,CC46FAAB662B8613,docked_bike,2020-05-09 14:42:04,2020-05-09 15:06:33,10th & E St NW,31256,21st St & Constitution Ave NW,31261.0,38.895914,-77.026064,38.892459,-77.046567,member
2,72F00B2FB833D6ED,docked_bike,2020-05-24 17:27:19,2020-05-24 17:43:51,Connecticut Ave & Newark St NW / Cleveland Park,31305,12th & U St NW,31268.0,38.934267,-77.057979,38.916787,-77.028139,member
3,4DFBE6AED989DF35,docked_bike,2020-05-27 15:29:52,2020-05-27 15:47:13,Connecticut Ave & Newark St NW / Cleveland Park,31305,14th & Belmont St NW,31119.0,38.934267,-77.057979,38.921074,-77.031887,casual
4,1AAFE6B4331AB9DF,docked_bike,2020-05-31 14:06:03,2020-05-31 14:30:30,Georgia Ave & Morton St NW,31419,17th & K St NW,31213.0,38.932128,-77.023500,38.902760,-77.038630,casual

In [117]:
df_daily_rents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16086672 entries, 0 to 16086671
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 1.6+ GB

In [118]:
print(df_daily_rents['started_at'].min())
print(df_daily_rents['started_at'].max())

2020-05-01 00:02:02
2024-08-31 23:57:12.743

In [119]:
df_daily_rents['started_at'] = pd.to_datetime(df_daily_rents['started_at'], errors =  'coerce')
df_daily_rents['ended_at'] = pd.to_datetime(df_daily_rents['ended_at'], errors =  'coerce')

In [120]:
df_daily_rents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16086672 entries, 0 to 16086671
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 1.6+ GB

In [121]:
df_daily_rents_2023 = df_daily_rents[(df_daily_rents['started_at'].dt.year == 2023) & (df_daily_rents['ended_at'].dt.year == 2023)]
df_daily_rents_2023.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
7830706,65F0ACD101BF0D49,classic_bike,2023-01-04 19:34:07,2023-01-04 19:39:29,East Falls Church Metro / Sycamore St & 19th St N,31904.0,W Columbia St & N Washington St,32609.0,38.885321,-77.156427,38.885621,-77.166917,member
7830707,D75158CE73DC43F0,classic_bike,2023-01-27 15:26:38,2023-01-27 19:21:36,Carroll & Westmoreland Ave,32025.0,Fenton St & Ellsworth Dr,32036.0,38.975000,-77.011210,38.997033,-77.025608,member
7830708,33E85889625FF7CA,classic_bike,2023-01-05 20:44:38,2023-01-05 20:51:18,15th & L St NW,31276.0,Thomas Circle,31241.0,38.903649,-77.034918,38.905900,-77.032500,member
7830709,E1F055A1651F47A1,classic_bike,2023-01-03 17:45:14,2023-01-03 17:57:23,Hartland Rd & Harte Pl,32255.0,Merrifield Cinema & Merrifield Town Center,32235.0,38.878601,-77.222808,38.870093,-77.229970,member
7830710,88CC90CEEC298BAF,classic_bike,2023-01-03 05:18:46,2023-01-03 05:25:50,Merrifield Cinema & Merrifield Town Center,32235.0,Hartland Rd & Harte Pl,32255.0,38.870093,-77.229970,38.878601,-77.222808,member

In [122]:
df_daily_rents_2023.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4467275 entries, 7830706 to 12298039
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 477.2+ MB

In [123]:
print(df_daily_rents_2023['started_at'].min())
print(df_daily_rents_2023['started_at'].max())

2023-01-01 00:00:03
2023-12-31 23:56:51

In [124]:
df_daily_rents_2023.to_csv('df_daily_rents_2023.csv',index=False, encoding='utf-8')