In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('./Adidas US Sales Datasets.csv', sep = ';')
df

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,"$50,00",1.2,$600.000,$300.000,50%,In-store
1,Foot Locker,1185732,2/1/20,Northeast,New York,New York,Men's Athletic Footwear,"$50,00",1.0,$500.000,$150.000,30%,In-store
2,Foot Locker,1185732,3/1/20,Northeast,New York,New York,Women's Street Footwear,"$40,00",1.0,$400.000,$140.000,35%,In-store
3,Foot Locker,1185732,4/1/20,Northeast,New York,New York,Women's Athletic Footwear,"$45,00",850.0,$382.500,$133.875,35%,In-store
4,Foot Locker,1185732,5/1/20,Northeast,New York,New York,Men's Apparel,"$60,00",900.0,$540.000,$162.000,30%,In-store
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9643,Foot Locker,1185732,24/1/21,Northeast,New Hampshire,Manchester,Men's Apparel,"$50,00",64.0,$3.200,$896,28%,Outlet
9644,Foot Locker,1185732,24/1/21,Northeast,New Hampshire,Manchester,Women's Apparel,"$41,00",105.0,$4.305,$1.378,32%,Outlet
9645,Foot Locker,1185732,22/2/21,Northeast,New Hampshire,Manchester,Men's Street Footwear,"$41,00",184.0,$7.544,$2.791,37%,Outlet
9646,Foot Locker,1185732,22/2/21,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,"$42,00",70.0,$2.940,$1.235,42%,Outlet
9647,Foot Locker,1185732,22/2/21,Northeast,New Hampshire,Manchester,Women's Street Footwear,"$29,00",83.0,$2.407,$650,27%,Outlet

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9648 non-null   object
 1   Retailer ID       9648 non-null   int64
 2   Invoice Date      9648 non-null   object
 3   Region            9648 non-null   object
 4   State             9648 non-null   object
 5   City              9648 non-null   object
 6   Product           9648 non-null   object
 7   Price per Unit    9648 non-null   object
 8   Units Sold        9648 non-null   float64
 9   Total Sales       9648 non-null   object
 10  Operating Profit  9648 non-null   object
 11  Operating Margin  9648 non-null   object
 12  Sales Method      9648 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 980.0+ KB

In [16]:
df['Retailer'].unique()

array(['Foot Locker', 'Walmart', 'Sports Direct', 'West Gear', "Kohl's",
       'Amazon'], dtype=object)

In [17]:
df['State'].unique()

array(['New York', 'Texas', 'California', 'Illinois', 'Pennsylvania',
       'Nevada', 'Colorado', 'Washington', 'Florida', 'Minnesota',
       'Montana', 'Tennessee', 'Nebraska', 'Alabama', 'Maine', 'Alaska',
       'Hawaii', 'Wyoming', 'Virginia', 'Michigan', 'Missouri', 'Utah',
       'Oregon', 'Louisiana', 'Idaho', 'Arizona', 'New Mexico', 'Georgia',
       'South Carolina', 'North Carolina', 'Ohio', 'Kentucky',
       'Mississippi', 'Arkansas', 'Oklahoma', 'Kansas', 'South Dakota',
       'North Dakota', 'Iowa', 'Wisconsin', 'Indiana', 'West Virginia',
       'Maryland', 'Delaware', 'New Jersey', 'Connecticut',
       'Rhode Island', 'Massachusetts', 'Vermont', 'New Hampshire'],
      dtype=object)

In [18]:
df['Invoice Date'].max()

'9/9/21'

In [19]:
df['Product'].unique()

array(["Men's Street Footwear", "Men's Athletic Footwear",
       "Women's Street Footwear", "Women's Athletic Footwear",
       "Men's Apparel", "Women's Apparel"], dtype=object)