# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [141]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [142]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')

In [143]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Name of the max valued product

In [144]:
chipo['item_price'].info()      # La columna item_price está en formato object. hay que pasarlo a tipo num

<class 'pandas.core.series.Series'>
RangeIndex: 4622 entries, 0 to 4621
Series name: item_price
Non-Null Count  Dtype
--------------  -----
4622 non-null   object
dtypes: object(1)
memory usage: 36.2+ KB

In [145]:
chipo['item_price'] = chipo['item_price'].str.replace('$','')     # Elimina el símbolo de dólar
chipo['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
         ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: object

In [146]:
chipo['item_price'] = chipo['item_price'].astype(float)     # Cambia el tipo de dato a float
chipo['item_price'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 4622 entries, 0 to 4621
Series name: item_price
Non-Null Count  Dtype
--------------  -----
4622 non-null   float64
dtypes: float64(1)
memory usage: 36.2 KB

In [147]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [148]:
print('precio máximo = ', chipo['item_price'].max())
indice_max_precio = chipo['item_price'].idxmax()
print(indice_max_precio)
chipo.loc[indice_max_precio]['item_name']

precio máximo =  44.25
3598

'Chips and Fresh Tomato Salsa'

In [149]:
chipo.iloc[indice_max_precio]

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                   44.25
Name: 3598, dtype: object

### Step 4. How many products cost more than $10.00?

In [150]:
chipo[chipo['item_price'] > 10].count()

order_id              1130
quantity              1130
item_name             1130
choice_description    1123
item_price            1130
dtype: int64

In [151]:
chipo[chipo['item_price'] > 10].shape[0]        # otra forma mejor de hacerlo

1130

### Step 4.1: Y cuántos pedidos se han hecho con un producto de más de 10$? Es lo mismo?

In [152]:
chipo.order_id[chipo['item_price'] > 10].nunique()  # Pedidos únicos en los que hay un producto que cueste más de 10 $

863

### Step 4.2: Y cuántos pedidos se han hecho de más de 10$? Es lo mismo?

In [153]:
total_per_order = chipo.groupby('order_id')['item_price'].sum()         # se obtiene una lista agrupada por el numero de pedido, con la suma del precio de los items de cada pedido
print(total_per_order,'\n')

pedidos_grandes = total_per_order[total_per_order > 10].shape[0]
print(f'Se hicieron {pedidos_grandes} pedidos de más de 10$')

order_id
1       11.56
2       16.98
3       12.67
4       21.00
5       13.70
        ...
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: item_price, Length: 1834, dtype: float64

Se hicieron 1834 pedidos de más de 10$

### Step 4.3: Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto? Es lo mismo?

### Step 5. What is the price of each item and name it unit_price. Get only item_name and unit_price

In [154]:
chipo['unit_price'] = chipo['item_price'] / chipo['quantity']       # Añadimos una columna que calcula el precio por unidad
chipo[['item_name', 'unit_price']]

                                  item_name  unit_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl        8.49
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [155]:
chipo[['item_name', 'unit_price']].sort_values(by = 'item_name')

              item_name  unit_price
3389  6 Pack Soft Drink        6.49
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49
...                 ...         ...
2384  Veggie Soft Tacos        8.75
781   Veggie Soft Tacos        8.75
2851  Veggie Soft Tacos        8.49
1699  Veggie Soft Tacos       11.25
1395  Veggie Soft Tacos        8.49

[4622 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [156]:
chipo.loc[chipo.item_price.idxmax()]['quantity']

np.int64(15)

In [157]:
#Lo mismo pero hecho por partes:
indice = chipo.item_price.idxmax()  # calcula el índice del item mas caro
print(indice)
chipo.loc[indice]['quantity']       # accede a la columna quantity en la fila que indica el índice

3598

np.int64(15)

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [159]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl'].shape[0]

18

### Step 9. How many times did someone order more than one Canned Soda?

In [170]:
chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)].shape[0]

20